.titleContainer{
    height: 20vh;
    display: flex;
    padding: 40px;
    margin: 10px;
    background-color: #FEF1F0;
    align-items: center;
    justify-content:center; 
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    /* Flex-start ile başa çekebiliriz. */
}

.titleContainer h1{
    color: #2a2a2a;
    text-shadow: 2px 22px 8px rgba(0, 0, 0, 0.5);
    font-weight: bold;
}




.AccordionHeader{
    font-size: 116px;
}

.ControlledAccordion{
    margin: 15px auto;
    width:95%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.AccordionField{
    background-color: #eff0f3;
}

.accordion-body{
    font-size: 15px
}

.accordion-header .accordion-button{
    font-size: 18px;
}