@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fef1f0;
}

.home {
  min-height: 85vh;
  width: 85%;
  height: 90vh;
  display: flex;
  padding: 40px;
  margin: auto;
  align-items: center;
  justify-content: center;
  gap: 0px 20px;
}

.container {
  padding: 0px;
}

.content {
  width: 40%;
  max-width: 40vw;
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.contentHead {
  font-size: 40px;
  margin-bottom: 16px;
  text-transform: uppercase;
  font-weight: 900;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 2px;
  color: #0d0d0d;
}

.contentSubtitle {
  font-size: 10px;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.1px;
  color: #0d0d0d;
}

.contentDescription {
  font-size: 14px;
  color: #2a2a2a;
  letter-spacing: 1px;
  font-family: dunbar-low, sans-serif;
  font-style: normal;
  font-weight: 200;
}

.contentDescriptionBold {
  font-weight: 600;
  font-size: 15px;
}

.middleSection {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  padding: 30px;

}

.irregularCircle {
  position: absolute;
  background-color: #ff8e3c;
  width: 340px;
  height: 400px;
  border-radius: 30% / 48%;
  left: 300px;
  z-index: 0;
}

.totalContainer {
  display: flex;
  flex-direction: column;
  width: 180px;
  height: 90px;
  text-align: center;
  position: relative;
  gap: 6px;
  border: 0.1px solid lightgray;
  border-radius: 10px;
  left: 40px;
  top: 40px;
  background-color: rgba(255, 255, 255, 0.789);
  padding: 10px;
}

.totalText {
  font-size: 13px;
  font-weight: 900;
  color: #0d0d0d;
  text-align: start;
}

.usersContainer {
  display: flex;
  position: relative;
}

.containerRelative {
  position: relative;

}

.userImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid white;
  position: absolute;
}

.userImage:nth-child(1) {
  left: 0;
}

.userImage:nth-child(2) {
  left: 25px;
}

.userImage:nth-child(3) {
  left: 50px;
}

.userImage:nth-child(4) {
  left: 75px;
}

.userImage:nth-child(5) {
  left: 100px;
}

.userCount {
  font-size: 14px;
  color: white;
  position: absolute;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  left: 120px;
  background-color: #d9376e;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.95;
}


.contentRightSection {
  width: 40vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: auto;
  height: 100%;
  position: relative;
}

.irregularCircle {
  position: absolute;
  background-color: #ff8e3c;
  width: 300px;
  height: 300px;
  border-radius: 30% / 48%;
  left: 200px;
bottom: 90px;
  z-index: 0;
}

.contentRightSection .contentImage {
  width: auto;
  border-radius: 20px;
  height: 90%;
  z-index: 1;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: #fffffe;
  height: 100vh;
  width: 100%;
  align-items: center;
  padding: 20px;
  gap: 15px;
  justify-content: center;
}

.mainTitle {
  font-size: 16px;
  font-weight: 900;
  color: #0d0d0d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainLine {
  width: 16px;
  height: 2px;
  background-color: #ff8e3c;
  margin-right: 8px;
}

.featureHeader {
  font-size: larger;
  font-weight: 900;
  font-size: 34px;
  color: #0d0d0d;
}

.mainSubtitle {
  color: #2a2a2a;
  font-weight: 400;
  font-size: 12px;
  color: #2a2a2a;
}

.featureContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 90%;
}

.featureCard {
  width: 18vw;
  height: 26vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 5px;
  justify-content: center;
  border: 0.1px dotted gray;
  background-color: #eff0f3;
  align-items: center;
  margin: 0 10px;
}

.featureCardHeader {
  color: #2a2a2a;
  font-weight: 900;
  margin-bottom: 2px;
  height: 2vh;
}

.featureCardDescription {
  color: #2a2a2a;
  font-size: 14px;
  height: 8vh;
}

.featureLink {
  color: #d9376e;
  display: flex;
  width: 100%;
  align-items: center;
  font-size: 12px;
  font-weight: 100;
  height: 2vh;
}

.featureButton {
  background-color: #ff8e3c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  width: 200px;
}

.promationSection {
  height: 90vh;
  background: #FF512F;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff8e3c, #d9376e);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff8e3c, #d9376e);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto Slab', serif;
}

.promationSectionText {
  font-size: 40px;
  color: white;
  font-weight: 200;
  letter-spacing: 2px;
}

.promationSectionButton {
  background-color: #eff0f3;
  color: #ff8e3c;
  padding: 20px;
  border: 4px solid #d9376e;
  border-radius: 20px;
  font-size: 20px;
  transition: 300ms all;
}

.promationSectionButton:hover {
  transform: scale(1.05);
}

.homeLessonExamContainer {
  display: flex;
  flex-direction: column;
  background-color: #eff0f3;
  height: 100vh;
  width: 100%;
  align-items: center;
  padding: 50px;
  justify-content: space-around;
}

.lessonExamTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.lessonExamTitle {
  color: #d9376e;
}

.lessonExamBottom {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 60px;
  width: 80vw;
}

.lessonExamCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 96%;
  background-color: #fffffe;
  padding: 20px;
  gap: 20px;
  border-radius: 10px;
  box-shadow: 0.4px 0.4px #d9376e;
}

.lessonExamImage {
  width: 50%;
}

.lessonExamCardTitle {
  color: #0d0d0d;
  font-size: 20px;
  font-weight: 900;
}

.lessonExamDesc {
  color: #828080;
  font-size: 14px;
  font-weight: 400;
}

.lessonExamButton {
  background-color: #ff8e3c;
  color: #fffffe;
  border: none;
  padding: 10px;
  width: 200px;
  border-radius: 5px;
}

.whyChooseUs {
  display: flex;
  flex-direction: row-reverse;
  background-color: #fffffe;
  height: 100vh;
  width: 100%;
  align-items: center;
  padding: 100px;
  justify-content: center;
  gap: 70px;
}

.whyRightSection {
  width: 45%;
}

.whyImage {
  width: 100%;
  border-radius: 30% 12% 44% 68%/10% 2% 4% 1%;
  padding: 20px;
}

.whyLeftSection {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.whyHeader {
  color: #0d0d0d;
  font-weight: 900;
  margin-bottom: 10px;
}



.whyList {
  list-style: none;
  padding: 0;
  gap: 20px;
  display: flex;
  flex-direction: column;

}

.whyItem {
  color: #2a2a2a;
}

.whyItem strong {
  color: #0d0d0d;
  font-weight: 600;
}

.whySpan {
  width: 100%;
  background-color: lightgray;
  height: 1px;
}