@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300;1,400&display=swap');

.resultMain {
    background:#eff0f3;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-position: right;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.resultSection {
    width: 400px;
    height: 270px;
    background: #fffffe;
    border-radius: 5px;
    padding: 3vw;
    flex-direction: column;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 20px;
    border :1px solid #d9376e;
}

.resultHeader{
    font-size: 24px;
    color:#ff8e3c;
    font-weight: 800;
}

.resultButtonContainer {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
}

.backHomeButton {
    cursor: pointer;
    margin-top: 10px;
    color: #fffffe;
    background-color: #ff8e3c;
    border: none;
    height: 40px;
    width: 20vw;
    border-radius: 4px;
    transition: 500ms all;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
}




.downloadBtn
{
    cursor: pointer;
    color: #d9376e;
    text-decoration: none;
    font-weight: 700;
    font-size: 17px;
}

.resultPoint{
    color: #2a2a2a;
}